<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>Hello, world!</title>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1>音量</h1>
    <button id="audio_vol_up">up</button>
    <button id="audio_vol_down">down</button>
    <br>
    <br>
    <h1>键盘</h1>
    <button id="left">左</button>
    <button id="right">右</button>
    <button id="space">space</button>
    <br>
    <br>
    <h1>电源</h1>
    <button id="shutdown">关机</button>
    <br>
    <br>
    <h1>小贝</h1>
    <button id="xiaobei-dialog">Dialog</button>
    <button id="xiaobei-voice">Voice</button>



    <iframe id="api" src="about:blank" style="display: none"></iframe>
</body>

</html>